
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">
          <span class="align-middle">Admin</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Pages
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" href="index.html">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            </a>
					</li>


					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">
              <i class="align-middle" data-feather="box"></i> <span class="align-middle">Quản Lý Sản Phẩm</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">
              <i class="align-middle" data-feather="shopping-cart"></i> <span class="align-middle">Quản Lý Đơn Hàng</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">
              <i class="align-middle" data-feather="list"></i> <span class="align-middle">Quản Lý Danh mục sản phẩm</span>
            </a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="AdminBrands" asp-action="Index">
              <i class="align-middle" data-feather="tag"></i> <span class="align-middle">Quản Lý Danh mục thương hiệu</span>
            </a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="AdminInfo" asp-action="Index">
              <i class="align-middle" data-feather="info"></i> <span class="align-middle">Quản Lý Tài Khoản</span>
            </a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">
              <i class="align-middle" data-feather="link"></i> <span class="align-middle">Quản Lý Quyền Truy Cập</span>
            </a>
					</li>

					<li class="sidebar-header">
						Plugins
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="maps-google.html">
              <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
            </a>
					</li>
				</ul>

			</div>
		</nav>