
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
      <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
          <div class="breadcrumb ptb_20">
            <h1>Blog</h1>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li class="active">Blog</li>
            </ul>
          </div>
        </div>
        <!-- =====  BREADCRUMB END===== -->

        @await Html.PartialAsync("_CategoryLeftPartialView") 

        <div class="col-sm-8 col-lg-9 mtb_20">
          <div class="row">
            <div class="three-col-blog text-left">
              <div class="blog-item col-md-6 mb_30">
                <div class="post-format">
                  <div class="thumb post-img"><a href="single_blog.html"> <img src="images/blog/blog_img_04.jpg"  alt="themini"></a></div>
                  <div class="post-type"><i class="fa fa-music" aria-hidden="true"></i></div>
                </div>
                <div class="post-info mtb_20 ">
                  <h3 class="mb_10"> <a href="single_blog.html">Fashions fade, style is eternal</a> </h3>
                  <p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
                  <div class="details mtb_20">
                    <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
                    <div class="more pull-right"> <a href="single_blog.html">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="blog-item col-md-6 mb_30">
                <div class="post-format">
                  <div class="thumb post-img"><a href="single_blog.html"> <img src="images/blog/blog_img_05.jpg"  alt="themini"></a></div>
                  <div class="post-type"><i class="fa fa-music" aria-hidden="true"></i></div>
                </div>
                <div class="post-info mtb_20 ">
                  <h3 class="mb_10"> <a href="single_blog.html">Fashions fade, style is eternal</a> </h3>
                  <p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
                  <div class="details mtb_20">
                    <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
                    <div class="more pull-right"> <a href="single_blog.html">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="blog-item col-md-6 mb_30">
                <div class="post-format">
                  <div class="thumb post-img"><a href="single_blog.html"> <img src="images/blog/blog_img_06.jpg"  alt="themini"></a></div>
                  <div class="post-type"><i class="fa fa-music" aria-hidden="true"></i></div>
                </div>
                <div class="post-info mtb_20 ">
                  <h3 class="mb_10"> <a href="single_blog.html">Fashions fade, style is eternal</a> </h3>
                  <p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
                  <div class="details mtb_20">
                    <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
                    <div class="more pull-right"> <a href="single_blog.html">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="blog-item col-md-6 mb_30">
                <div class="post-format">
                  <div class="thumb post-img"><a href="single_blog.html"> <img src="images/blog/blog_img_07.jpg"  alt="themini"></a></div>
                  <div class="post-type"><i class="fa fa-music" aria-hidden="true"></i></div>
                </div>
                <div class="post-info mtb_20 ">
                  <h3 class="mb_10"> <a href="single_blog.html">Fashions fade, style is eternal</a> </h3>
                  <p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
                  <div class="details mtb_20">
                    <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
                    <div class="more pull-right"> <a href="single_blog.html">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="blog-item col-md-6 mb_30">
                <div class="post-format">
                  <div class="thumb post-img"><a href="single_blog.html"> <img src="images/blog/blog_img_08.jpg"  alt="themini"></a></div>
                  <div class="post-type"><i class="fa fa-music" aria-hidden="true"></i></div>
                </div>
                <div class="post-info mtb_20 ">
                  <h3 class="mb_10"> <a href="single_blog.html">Fashions fade, style is eternal</a> </h3>
                  <p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
                  <div class="details mtb_20">
                    <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
                    <div class="more pull-right"> <a href="single_blog.html">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="blog-item col-md-6 mb_30">
                <div class="post-format">
                  <div class="thumb post-img"><a href="single_blog.html"> <img src="images/blog/blog_img_01.jpg"  alt="themini"></a></div>
                  <div class="post-type"><i class="fa fa-music" aria-hidden="true"></i></div>
                </div>
                <div class="post-info mtb_20 ">
                  <h3 class="mb_10"> <a href="single_blog.html">Fashions fade, style is eternal</a> </h3>
                  <p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
                  <div class="details mtb_20">
                    <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
                    <div class="more pull-right"> <a href="single_blog.html">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="blog-item col-md-6 mb_30">
                <div class="post-format">
                  <div class="thumb post-img"><a href="single_blog.html"> <img src="images/blog/blog_img_02.jpg"  alt="themini"></a></div>
                  <div class="post-type"><i class="fa fa-music" aria-hidden="true"></i></div>
                </div>
                <div class="post-info mtb_20 ">
                  <h3 class="mb_10"> <a href="single_blog.html">Fashions fade, style is eternal</a> </h3>
                  <p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
                  <div class="details mtb_20">
                    <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
                    <div class="more pull-right"> <a href="single_blog.html">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="blog-item col-md-6 mb_30">
                <div class="post-format">
                  <div class="thumb post-img"><a href="single_blog.html"> <img src="images/blog/blog_img_03.jpg"  alt="themini"></a></div>
                  <div class="post-type"><i class="fa fa-music" aria-hidden="true"></i></div>
                </div>
                <div class="post-info mtb_20 ">
                  <h3 class="mb_10"> <a href="single_blog.html">Fashions fade, style is eternal</a> </h3>
                  <p>Aliquam egestas pellentesque est. Etiam a orci Nulla id enim feugiat ligula ullamcorper scelerisque. Morbi eu luctus nisl.</p>
                  <div class="details mtb_20">
                    <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
                    <div class="more pull-right"> <a href="single_blog.html">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-nav text-center mtb_20">
            <ul>
              <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

