
@{
    ViewData["Title"] = "SingleBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
      <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
          <div class="breadcrumb ptb_20">
            <h1>Fashions fade..</h1>
            <ul>
              <li><a asp-controller="Home" asp-action="Index">Home</a></li>
              <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
              <li class="active"> ....</li>
            </ul>
          </div>
        </div>
        <!-- =====  BREADCRUMB END===== -->
        
        @await Html.PartialAsync("_CategoryLeftPartialView")

        <div class="col-sm-8 col-lg-9 mtb_20">
          <div class="row">
            <div class="blog-item listing-effect col-md-12 mb_50">
              <div class="post-format">
                <div class="thumb post-img"><a href="images/blog/blog_img_01.jpg" title="Beautiful Lady"> <img src="images/blog/blog_img_01.jpg"  alt="themini"></a></div>
                <div class="post-type"> <i class="fa fa-picture-o" aria-hidden="true"></i> </div>
              </div>
              <div class="post-info mtb_20 ">
                <h2 class="mb_10"> <a href="single_blog.html">Fashions fade, style is eternal</a> </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae provident minus similique porro assumenda illo dolore ducimus vero ipsum illum ipsa velit, deleniti accusantium repellat facilis tempora ab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae provident minus similique porro assumenda illo dolore ducimus vero ipsum illum ipsa velit, deleniti accusantium repellat facilis tempora ab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae provident minus similique porro assumenda illo dolore ducimus vero ipsum illum ipsa velit, deleniti accusantium repellat facilis tempora ab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae provident minus similique porro assumenda illo dolore ducimus vero ipsum illum ipsa velit, deleniti accusantium repellat facilis tempora ab </p>
              </div>
              <blockquote>consectetur adipiscing elit. In rutrum odio urna, vitae ultrices mi malesuada ut. Praesent lacus erat, ultricies ut risus nec, pellentesque interdum purus. In mi justo, consectetur tincidunt sapien eget, venenatis volutpat risus. Maecenas eget pretium eros. Integer tincidunt aliquet ligula in vulputate. Ut ut justo facilisis, vulputate augue vel, vestibulum tortor. Nullam varius lacus non porttitor sodales. Vivamus ultricies est vitae pharetra convallis. Sed suscipit, nisi sit amet tempus mollis, mauris ante tempor risu</blockquote>
              etur adipisicing elit. Repudiandae provident minus similique porro assumenda illo dolore ducimus vero ipsum illum ipsa velit, deleniti accusantium repellat facilis tempora ab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae provident minus similique porro assumenda illo dolore ducimus vero ipsum illum ipsa velit, deleniti accusantium repellat facilis tempora ab Lorem ipsum dolor sit amet, consectet
              <div class="details mtb_20">
                <div class="date"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

