@model LokiPKL.Models.Blog
@{
    ViewData["Title"] = "SingleBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
      <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
          <div class="breadcrumb ptb_20">
            <h1>Fashions fade..</h1>
            <ul>
              <li><a asp-controller="Home" asp-action="Index">Home</a></li>
              <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
              <li class="active"> ....</li>
            </ul>
          </div>
        </div>
        <!-- =====  BREADCRUMB END===== -->
        
        @await Html.PartialAsync("_CategoryLeftPartialView")

        <div class="col-sm-8 col-lg-9 mtb_20">
          <div class="row">
            <div class="blog-item listing-effect col-md-12 mb_50">
              <div class="post-format">
                <div class="thumb post-img"> <img src="~/Upload/Blog/@Model.BlogImage"  alt="themini"></div>
              </div>
              <div class="post-info mtb_20 ">
                <h2 class="mb_10"> <a href="single_blog.html">@Model.BlogTitle</a> </h2>
                <p>@Model.BlogContent</p>
              </div>
              <div class="details mtb_20">
                <div class="date"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

