@{
	ViewData["Title"] = "About";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt_30">
	<div class="row ">

		@await Html.PartialAsync("_CategoryLeftPartialView")

		<div class="col-sm-8 col-lg-9 mtb_20">
			<!-- about  -->
			<div class="row">
				<div class="col-md-12">
					<figure> <img src="~/assets/Banner//banner6.jpg" alt="#"> </figure>
				</div>
				<div class="col-md-12">
					<div class="about-text">
						<div class="about-heading-wrap">
							<h2 class="about-heading mb_20 mt_40 ptb_10">OUR DRIVING MISSION</h2>
						</div>
						<h3>“With us, you’re not a price tag. The moment you walk through our doors, you become part of a family.”</h3><br />
						<p><span>T</span>
							The moment you walk through our doors, you become part of a family – a family who will stand behind you, support you, take care of you, and treat you right – a family who does the job right the first time and stands behind their work.

							The Loki PKL is the alternative to the dealership. There’s a reason we don’t have to pay for advertising: our customers do it for us. Whether you’re on the street or at an event, if you start talking about motorcycles, chances are you’ll meet one of our customers. Some have met us only once, only to go out and tell their friends they’ve found a new family. Our customers fight for us just as we fight for them – all because of the way we treat them (and their bike) as one of our own.

							We may be called The Chapel, but our religion is motorcycles. We ride every motorcycle that comes through our doors so we can give it our seal of approval before it leaves the shop. It’s our name on the line, after all – so no matter what you need, we will take care of it. Come join our family.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>

